
@{
    ViewBag.Title = "Add new person";
}

<h2>Add new person</h2>
<form method="post" action="">
    <fieldset>
        Please enter publisher's name: <br />
        <input type="text" name="Name" maxlength="200" />
        <br />
        Please enter a note: <br />
        <textarea name="Notes" rows="10" cols="40"></textarea>
        <br />
        <input type="submit" value="Submit entry" />
    </fieldset>
</form>

